.curriculum {
	width: 80%;
	margin: 0 auto;
	background-color: #eee;
	box-shadow: 0px 10px 25px #ccc;
}

.curriculum .contenedor_imagen {
	width: 300px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

.curriculum img {
	width: 100%;
}

.curriculum h1 {
	text-align: center;
	font-size: 50px;
}

.acerca_de {
	background-color: #ddd;
	padding: 15px;
}

.educacion {
	padding: 15px;
}

.idiomas {
	background-color: #ddd;
	padding: 15px;
}

.curriculum h3 {
	font-size: 30px;
	margin-bottom: 15px;
}

.curriculum h5 {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.curriculum ul li {
	list-style: none;
}

.skills {
	padding: 15px;
}

.tecnologias {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px;
}

.tecnologias svg {
	font-size: 70px;
}

.tecnologias svg:hover::before {
	content: attr(title);
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 8px;
	border-radius: 4px;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.tecnologias svg:hover::before {
	opacity: 1;
}

@media only screen and (max-width: 768px) {
	.curriculum {
		width: 95%;
	}
	.tecnologias svg {
		font-size: 50px;
	}
}
