a {
	color: black;
	text-decoration: none;
	transition: all 300ms;
}

a:hover {
	text-decoration: none;
	color: #fa4529;
	font-weight: bold;
}

.trabajos {
	display: flex;
	flex-wrap: wrap;
}

.article {
	width: 100%;
	box-sizing: border-box;
	margin: 15px 0;
}

.article .contenedor_imagen {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	box-shadow: 0px 5px 15px #ddd;
	border: 1px solid #eee;
	position: relative;
}

.article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 500ms;
}

.article img:hover {
	transform: scale(1.2);
}

.article .categoria {
	color: gray;
	margin-top: 15px;
	display: block;
}

.article .enlace {
	display: block;
	color: #000;
	margin-top: 10px;
	font-size: 24px;
	margin-bottom: 5px;
}

.article h3 {
	display: block;
	color: #444;
	border-top: 1px solid #ddd;
	padding-top: 20px;
}

@media screen and (min-width: 768px) {
	.article {
		width: 48%;
		margin: 15px 1%;
	}
}

@media screen and (min-width: 1024px) {
	.article {
		width: 30%;
		margin: 15px 1%;
	}
}
